:root {

  /* outline width */
  --outline-width-s: 1px;
  --outline-width-m: 2px;

  /* gap size */
  --gap-xs: 6px;
  --gap-s: 8px;
  --gap-m: 10px;
  --gap-l: 12px;

  /* max-width */
  --max-width-xs: 350px;
  --max-width-s: 420px;
  --max-width-m: 542px;
  --max-width-desktop: 1280px;
  --max-width-tablet: 1024px;
  --max-width-mobile: 576px;

  /* Rotation angle */
  --90-deg: 90deg;
  --180-deg: 180deg;
  --270-deg: 270deg;
  --360-deg: 360deg;

  /* Transition settings */
  --transition-duration-slow: 1s;
  --transition-duration-default: 0.3s;
  --transition-duration-fast: 0.1s;

  /* Header */
  --header-height: 60px;

  /* Icon size */
  --icon-size-s: 16px;
  --icon-size-m: 18px;
  --icon-size-l: 20px;
  --icon-size-xl: 24px;
}
