.typography {
  margin: 0;
  padding: 0;

  word-break: break-word;
  overflow-wrap: break-word;
  font-family: var(--font-raleway);
}

.museoH2 {
  font-weight: 500;
  font-family: var(--font-museo);
  font-size: var(--font-size-xxxxl);
}

.h1 {
  font-size: var(--font-size-xxl);
  line-height: var(--line-height-l);

  @media screen and (width <= 320px) {
    font-size: var(--font-size-l);
    line-height: var(--line-height-m);
  }
}

.h2 {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-l);

  @media screen and (width <= 320px) {
    font-size: var(--font-size-m);
    line-height: var(--line-height-m);
  }
}

.h3 {
  font-size: var(--font-size-s);

  @media screen and (width <= 320px) {
    font-size: var(--font-size-s);
  }
}

.body,
.subtitle,
.h4 {
  font-size: var(--font-size-xxl);
  line-height: var(--line-height-m);

  @media screen and (width <= 320px) {
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
  }
}

.body,
.link {
  font-weight: var(--font-weight-regular);
}

.subtitle {
  line-height: var(--line-height-m);

  @media screen and (width <= 320px) {
    line-height: var(--line-height-s);
  }
}

.body,
.link {
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);

  @media screen and (width <= 320px) {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-s);
  }

  @media screen and (width <= 480px) {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-s);
  }
}

.error {
  font-size: var(--font-size-s);
  color: var(--color-danger-500);

  @media screen and (width <= 320px) {
    font-size: var(--font-size-xs);
  }
}

.gray {
  color: var(--color-dark-100);
}
