.container {
  display: flex;
  flex-direction: column;
  gap:16px;
  align-content: center;
  width: 148.5px;
  padding: 16px;
  border-radius: 8px;
  background: var(--color-dark-300);
  border: 0.5px solid var(--color-dark-500);
}